img{
    height: 300px;
    width: 300px;
}
.line{
    width: 1210px;
    height: 20px;
    background-color: blueviolet;
    margin: auto;
}
body{
    text-align: center;
    background-color: aqua
}
    
